.venv
cristian/R02_Data.csv
cristian/R01_Data.csv
cristian/Conveyor_Signals.csv
cristian/R04_Data.csv
cristian/R03_Data.csv
Niloofar/scopus_final.csv
Alireza/combined_df_with_pdf_urls.csv
Alireza/unpaywall_cache
cristian/all large files.zip
Niloofar/deduped.csv
Niloofar/scopus_final.zip
*.zip
